.select-container {
  .react-select {
    &__control {
      padding: 0 0px 0 0px;
      font-size: 15px;
      color: #7C808A;
      background: #F6F8F9;
      border: 2px solid #fff;
      min-height: 60px;
      border-radius: 10px;
      &--menu-is-open {
        z-index: 10;
      }
      &--is-focused,
      &--menu-is-open,
      &:hover {
        border: 2px solid #61B2AA;
      }
    }
    &__value-container {
      padding: 0px 0 0px 22px;
      font-size: 15px;
    }
    &__indicator-separator {
      display: none;
    }
    &__input input{
      height: auto !important;
    }
    &__menu {
      z-index: 9999;
      background: #fff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      margin-top: 4px;
      margin-bottom: 0;
    }
    &__menu-list {
      padding-top: 8px;
      padding-bottom: 8px;
    }
    &__option {
      font-weight: normal;
      font-size: 15px;
      line-height: 1.42;
      padding: 14px 22px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: background 0.1s ease-in-out;
      &--is-selected {
        background: rgba(0, 0, 0, 0.04);
        color: black;
      }
      &--is-focused {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  &.small {
    .react-select {
      &__control {
        border: 0;
        min-height: 35px;
      }
      &__value-container {
        padding: 0 0 0 8px;
      }
      &__option {
        font-weight: normal;
        font-size: 15px;
        padding: 10px 8px;
      }
    }
  }
}

body.is-mobile {
  .select-container {
    .react-select {
      &__control {
        border: 2px solid #61B2AA;
      }
    }
  }
}
