


.ReactModal__Overlay {
  background: rgba(black, 0) !important;
  will-change: background;
  backface-visibility: hidden;
  transition: background 0.3s ease-in-out;
  &--after-open {
    background: rgba(black, 0.5) !important;
  }
  &--before-close {
    background: rgba(black, 0) !important;
  }
}

.ReactModal__Content {
  opacity: 0;
  backface-visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  &--after-open {
    opacity: 1;
  }
  &--before-close {
    opacity: 0;
  }
}
