.container {
  position: relative;
  z-index: 1;
  padding: 32px;
  &._full {
    min-height: -webkit-calc(100vh - 16px);
    min-height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
  }
}

.head {
  display: flex;
  align-items: center;
  &_back {
    position: relative;
    min-width: 40px;
    min-height: 40px;
    margin-right: 8px;
    margin-left: -8px;
    cursor: pointer;
    transition: color 0.25s ease-in-out;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;
    }
    &:hover {
      color: red;
    }
  }
  &_title {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    padding-right: 16px;
  }
}

.close {
  flex: 0 0 auto;
  margin: -10px -10px -10px auto;
  padding: 10px;
  font-size: 0;
  cursor: pointer;
  color: red;
  transition: color 0.25s ease-in-out;
  span {
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    line-height: 125%;
  }
  svg {
    font-size: 10px;
  }
  &:hover {
    color: black;
  }
}

.content {
  display: block;
  &._full {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}

._admin {
  padding: 0;
  .close {
    display: none;
  }
  .head {
    display: none;
  }
}

._narrow {
  padding: 24px;
  .close {
    top: 8px;
    right: 8px;
  }
}
